.button{
    display: inline-block;
    border: 2px solid black;
    background-color: aqua;
    height: 80px;
    width: 80px;
    border-radius: 8px;
}
h1,h2,.canva{
 text-align: center;
}
.canva{
     margin-top: 50px;
}


#grey{ background-color: gray;}
#white{background-color: white;}
#blue{background-color: blue;}
#yellow{background-color: yellow;}
nav{
    text-align: center;
}