body{
    background-color: black;
}
#id1{
    color: white;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
#result{
    height: 40px;
    width: 150px;
    background-color: hsla(54, 100%, 50%, 0.91);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}