body{
    background-color: grey;
}
button{
    margin-left: 100px;
    border-radius: 5px;
    border: 1px solid black;
      padding: 6px 10px;
      font-size: 15px;
}
.weightGuide{
    margin-left: 50px;
}
#result{
    color: rgb(16, 229, 65);
    font-size: 40px;
    margin-left: 30px;

}
