body{
    background-color: rgb(191, 241, 10);
}
button{
    border-radius: 5px;
    border: 1px solid rgba(16, 9, 13, 0.868);
    font-size: 40px;

}
#result{
    color:rgba(216, 7, 147, 0.882);
    font-size: 40px;
}
h1{
    text-decoration: underline;
    text-align: center;
}
#weight,#height{
    font-size: 40px;
}
label{
    font-size: 40px;
}
legend{
    text-align: center;
}
.weightGuide{
    font-size: 20px;
}