.project{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background-color: black;
}
.key{
    color: white;
    font-size: large;
}
.color{
    color: white;
}